---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const honourableMentions = (await getCollection("honourableMentions")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const ntnuRelated = (await getCollection("ntnuRelated")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			section {
				padding-top: 3em;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			/* ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			} */
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
				object-fit: cover; /* This ensures the image covers the area */
				object-position: center; /* This centers the image */
				height: 16em; /* Fixed height to maintain aspect ratio */
				width: 100%; /* Width can be 100% of the container */
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			.description {
				margin: 0;
				color: rgb(var(--gray));
				font-style: italic;
				font-size: medium;
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			.icon-grid {
				display: flex;
				justify-content: center; /* Align the columns centrally */
			}

			.icon-column {
				display: flex;
				flex-direction: column; /* Arrange the items in a column */
				align-items: center; /* Center-align items horizontally */
				padding-right: 1em; /* Space between columns */
			}

			.icon-column a {
				padding-bottom: 1em; /* Space between icons in a column */
			}

			.icon-column a i {
				font-size: 1.5em; /* Icon size */
			}

			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="icon-grid">
				<div class="icon-column">
					<a href="https://facebook.com/petrepa" target="_blank"
						><i class="fa-brands fa-facebook"></i></a
					>
					<a href="https://instagram.com/petrepa" target="_blank"
						><i class="fa-brands fa-instagram"></i></a
					>
				</div>
				<div class="icon-column">
					<a href="https://twitter.com/petrepa" target="_blank"
						><i class="fa-brands fa-x-twitter"></i></a
					>
					<a
						href="https://www.strava.com/athletes/35722278"
						target="_blank"><i class="fa-brands fa-strava"></i></a
					>
				</div>
				<div class="icon-column">
					<a
						href="https://www.printables.com/@petrepa"
						target="_blank"><i class="fa-solid fa-print"></i></a
					>
					<a href="https://linkedin.com/in/petrepa" target="_blank"
						><i class="fa-brands fa-linkedin"></i></a
					>
				</div>
				<div class="icon-column">
					<a
						href="https://www.reddit.com/user/petrepa"
						target="_blank"
						><i class="fa-brands fa-reddit-alien"></i></a
					>
					<a href="https://github.com/petrepa" target="_blank"
						><i class="fa-brands fa-github"></i></a
					>
				</div>
				<div class="icon-column">
					<a href="https://youtube.com/petrepa" target="_blank"
						><i class="fa-brands fa-youtube"></i></a
					>
					<a
						href="mailto:peter.remoy.paulsen@gmail.com"
						target="_blank"
						><i class="fa-regular fa-envelope"></i></a
					>
				</div>
			</div>

			<div style="text-align: center;">
				<p>
					Hardware engineer at
					<a href="https://scoutdi.com" target="_blank">ScoutDI</a>
					 in Norway, with a
					<a
						href="https://www.ntnu.no/studier/mtelsys"
						target="_blank"
					>
						Master's in Electronic Systems Design
					</a>
					 from NTNU
				</p>
				<h3><a href="/about">More about me</a></h3>
			</div>
			<section>
				<h3>My Projects</h3>
				<ul>
					{
						posts.map((post) => (
							<li>
								{post.data.moreInfoLink ? (
									<a
										href={post.data.moreInfoLink}
										target="_blank"
										rel="noopener noreferrer"
									>
										<img src={post.data.heroImage} alt="" loading="lazy" />
										<h4 class="title">{post.data.title}</h4>
										<p class="date">
											<FormattedDate
												date={post.data.pubDate}
											/>
										</p>
									</a>
								) : (
									<a href={`/blog/${post.slug}/`}>
										<img src={post.data.heroImage} alt="" loading="lazy" />
										<h4 class="title">{post.data.title}</h4>
										<p class="date">
											<FormattedDate
												date={post.data.pubDate}
											/>
										</p>
									</a>
								)}
							</li>
						))
					}
				</ul>
			</section>
			<section>
				<h3>Honourable Mentions</h3>
				<ul>
					{
						honourableMentions.map((honourableMentions) => (
							<li>
								{honourableMentions.data.moreInfoLink ? (
									<a
										href={
											honourableMentions.data.moreInfoLink
										}
										target="_blank"
										rel="noopener noreferrer"
									>
										<img
											src={
												honourableMentions.data
													.heroImage
											}
											alt=""
											loading="lazy"
										/>
										<h4 class="title">
											{honourableMentions.data.title}
										</h4>
										<p class="date">
											<FormattedDate
												date={
													honourableMentions.data
														.pubDate
												}
											/>
										</p>

										<p class="description">
											{
												honourableMentions.data
													.description
											}
										</p>
									</a>
								) : (
									<a
										href={`/blog/${honourableMentions.slug}/`}
									>
										<img
											src={
												honourableMentions.data
													.heroImage
											}
											alt=""
											loading="lazy"
										/>
										<h4 class="title">
											{honourableMentions.data.title}
										</h4>
										<p class="date">
											<FormattedDate
												date={
													honourableMentions.data
														.pubDate
												}
											/>
										</p>
									</a>
								)}
							</li>
						))
					}
				</ul>
			</section>
			<section>
				<h3>NTNU Related</h3>
				<ul>
					{
						ntnuRelated.map((ntnuRelated) => (
							<li>
								{ntnuRelated.data.moreInfoLink ? (
									<a
										href={ntnuRelated.data.moreInfoLink}
										target="_blank"
										rel="noopener noreferrer"
									>
										<img
											src={ntnuRelated.data.heroImage}
											alt=""
											loading="lazy"
										/>
										<h4 class="title">
											{ntnuRelated.data.title}
										</h4>
										<p class="date">
											<FormattedDate
												date={ntnuRelated.data.pubDate}
											/>
										</p>

										<p class="description">
											{ntnuRelated.data.description}
										</p>
									</a>
								) : (
									<a href={`/blog/${ntnuRelated.slug}/`}>
										<img
											src={ntnuRelated.data.heroImage}
											alt=""
											loading="lazy"
										/>
										<h4 class="title">
											{ntnuRelated.data.title}
										</h4>
										<p class="date">
											<FormattedDate
												date={ntnuRelated.data.pubDate}
											/>
										</p>
									</a>
								)}
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
